# ------- For Bot Working ------- #
Pyromod<=1.5
tgCrypto<=1.2.5
pyrogram<=2.0.93
datetime
python-dotenv<=0.20.0
aiofiles
aiohttp<=3.8.1
uvloop
motor
# --------- For Database -------- #
pymongo
dnspython
