# ------- For Bot Working ------- #
Pyromod<=1.5
TgCrypto<=1.2.5
pyrogram<=2.0.93
datetime
python-dotenv<=0.20.0
aiofiles
aiohttp<=3.8.4
uvloop
motor
apscheduler
requests
psutil
pyromod
# --------- For Database -------- #
pymongo
dnspython


 


